@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  box-sizing: border-box;
}

main {
  width: 1120px;
  margin: 80px auto;

  @media (max-width: 1200px) {
    width: 880px;
  }

  @media (max-width: 960px) {
    width: 640px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 20px;
  }
}

p,
body {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
