@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  background: linear-gradient(
    180deg,
    #eafafc 0%,
    #ffffff 33.33%,
    #ffffff 66.67%,
    #ffffff 100%
  );
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

p,
body {
  margin: 0;
  min-width: 320px;
}
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
